/*endrer bakrunsfargen*/
body{
    background-color: white;
    margin: 0%;
    padding: 0%;
    font-family: monospace;
    


}



/*endrer bakrunn på header*/
header{
height: 60px;
background-color: white;
line-height: 60px;
border-bottom: solid black 1px; 

}


/*endrer størrelse og farge på header teksten*/
a{
font-size: 25px;
text-decoration: none;
color: black;
margin: 0 20px;
}

/*endrer farge når du hover over header teksten*/
a:hover{color:white}


#søkebar {
    border-radius: 50px; 
    margin-left: 675px; 
    height: 30px; 
    width: 175px;
font-size: medium;
}

#Energy p{
    font-size: 35px;
    font-family: monospace;
    font-weight: bold;
    margin-left: 75px
}

#Drink{
    background-color: rgb(243, 0, 0);
}

#Drink img{
    margin-left: 100px;
}






